$mainFontFamily:  Helvetica, sans-serif;

$fontSize-sm: 16px;
$postFontSize-lg: 18px;
$h1Size-lg: 40px;
$h2Size-lg: 26px;
$h3Size-lg: 20px;


$mainColor: #7D9091;
$fontColor: #343a40;
$h1Color: #343A40;
$linkColor:  #746427;
$linkColor-n:#BA5854;
